                                    /*********Login-Form-Css*********/
form{
    text-align:center;
    align-content:center;
}
#lbl1{
    margin-left:-58vh;
}
#lbl2{
    margin-left:-62vh;
}
img{
    margin-top:10vh;
    width:60vh;
    margin-left:50vh;
}
body{
    background-color:whitesmoke;
}
.LoginBy{
    margin-left:-52vh;
}
                                    /*********Customers-Css*********/
#AdminChecked{
    background-color:red;
    padding-bottom:4px;
    padding-right:1vh;
    padding-left:1vh;
    border-radius:25px;
}