@model Car_Rental.Business.Model.CustomerModel

<div class="row">
    <div class="column">
        <h2 class="formOCH text-dark">Add Offline Customer</h2>
        <hr class="Cutting_hr_right" />
        <form class="CustomerForm" asp-action="Save_Customer" asp-controller="User" method="post">

            <label>Customer Name</label><br />
            <input class="col-sm-9" asp-for="Customer_Name" placeholder="Please Enter Name" /><br />
            <span class="text-danger" asp-validation-for="Customer_Name"></span><br />

            <label>Customer Address</label><br />
            <input class="col-sm-9" type="text" asp-for="Customer_Address" placeholder="Please Enter Address" /><br />
            <span class="text-danger" asp-validation-for="Customer_Address"></span><br />

            <label>Customer Phone</label><br />
            <input class="col-sm-9" type="text" asp-for="Customer_Phone" placeholder="Please Enter Phone" /> <br />
            <span class="text-danger" asp-validation-for="Customer_Phone"></span><br />

            <label>Customer City</label><br />
            <input class="col-sm-9" type="text" asp-for="Customer_City" placeholder="Please Enter City" /> <br />
            <span class="text-danger" asp-validation-for="Customer_City"></span><br />

            <input class="col-sm-9 btn btn-outline-warning" type="submit" value="Save" />

        </form>
    </div>
    <div class="column">
        <img id="rightcolimg" src="~/Car_Images/Customers.png" />
    </div>
</div>

