<div class="container mt-3 about">

    <h1>Fast & Easy Way To Rent A Car</h1>
        <p class="text-white">
            A small rivor named dudon flows by their place and supplies it with the necessary
            regelialia. It is a paradisematic country. in which roasted parts
        </p>
        <p class="text-white">------ Easy steps for renting a car ------</p>

</div>

<style>
    body {
        background-image: url('/Car_Images/about.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>