<div class="container mt-3 about">

    <h1>Fast & Easy Way To Rent A Car</h1>
        <p>
            A small rivor named dudon flows by their place and supplies it with the necessary
            regelialia. It is a paradisematic country. in which roasted parts
        </p>
        <p>------ Easy steps for renting a car ------</p>

</div>
<style>
    .about{
        text-align:center;
        padding-top:25vh;
        color:white;
    }
    body {
        background-image: url('/Car_Images/Lambo.png');
        background-repeat:no-repeat;
        background-size:cover;
    }
</style>