<form asp-controller="User" asp-action="Forget_Password1" method="post">
<div class="forget">
    <h1 class="forget_head">Enter Email to reset <br /> your password</h1>
        <input name="ReciverMail" class="col-sm-12" type="email" placeholder="EMAIL ID" required/><br />
    <button id="sendbtn" type="submit" class="btn btn-warning" >SEND</button>
</div>
</form>

