@model Car_Rental.Business.Model.LoginModel

<img src="~/Car_Images/Lambo.png" />

<form asp-action="SaveUser" asp-controller="User" method="post" enctype="multipart/form-data">
    @*<input class="col-sm-5" type="file" asp-for="Attachmentfile" accept=".png,.jpg,.jpeg,.gif,.jfif" /><br />*@
    <label id="lbl1">Email address</label><br />
    <input class="col-sm-5" type="email" asp-for="User_Email" placeholder="Enter Email" /><br />
    <span class="text-danger" asp-validation-for="User_Email"></span><br />
    <label id="lbl2">Password</label><br />
    <input class="col-sm-5" type="password" asp-for="User_Password" placeholder="Enter Password" /><br />
    <span class="text-danger" asp-validation-for="User_Password"></span><br />
    <input class="col-sm-5  btn btn-outline-warning" type="submit" value="Register" /><br />
    <div class="login_forget_Link">
    @Html.ActionLink("If you already a user", "Login_Form")
    </div>
</form>