
<form asp-controller="user" asp-action="Reset_Passw1" method="post">
    <div class="forget">
        <h1 class="forget_head">Reset Password</h1>
        <input name="newpassword1" class="col-sm-12 newpasinput" type="password" placeholder="New Password" required /><br />
        <input name="newpassword2" class="col-sm-12 newpasinput" type="password" placeholder="New Password" required /><br />
        <button type="submit" class="btn btn-warning">RESET</button>
    </div>
</form>
