@model Car_Rental.Business.Model.UpdateOfflineCustomerModel

<div class="row">
    <div class="column">
        <img style="border:1px solid black" id="rightcolimg" src="~/AdminPanelCars/Mustang Gt.png" />
    </div>
    <div class="column">

        <h2 class=" text-dark">Updating Offline Customers</h2>
        <hr />
        <form asp-action="UpdateOfflineCustomer" asp-controller="User" method="post">

            <label class="Upofcustcl1">Customer Id</label><br />
            <input class="col-sm-9" asp-for="Customer_Id" readonly/><br />
            <span class="text-danger" asp-validation-for="Customer_Id"></span><br />

            <label class="Upofcustcl2">Customer Name</label><br />
            <input class="col-sm-9" asp-for="Customer_Name" /><br />
            <span class="text-danger" asp-validation-for="Customer_Name"></span><br />

            <label class="Upofcustcl3">Customer Address</label><br />
            <input class="col-sm-9" type="text" asp-for="Customer_Address" /><br />
            <span class="text-danger" asp-validation-for="Customer_Address"></span><br />

            <label class="Upofcustcl4">Customer Phone</label><br />
            <input class="col-sm-9" type="text" asp-for="Customer_Phone" /> <br />
            <span class="text-danger" asp-validation-for="Customer_Phone"></span><br />

            <label class="Upofcustcl5">Customer City</label><br />
            <input class="col-sm-9" type="text" asp-for="Customer_City" /> <br />
            <span class="text-danger" asp-validation-for="Customer_City"></span><br />

            <input class="col-sm-9 btn btn-outline-warning" type="submit" value="Update" />

        </form>
    </div>
</div>
