@model Car_Rental.Business.Model.UpdateModel

<div class="row">
    <div class="column">

        <img id="rightcolimg" src="~/AdminPanelCars/Mustang Gt.png" />

    </div>
    <div class="column">

        <h2 class="formHH text-dark">Updating Customers Profile</h2>
        <hr id="hr" />

        <form class="CustUpdateForm" method="post" asp-action="UserProfileUpdate" asp-controller="User" enctype="multipart/form-data">

            <input class="col-sm-5" type="file" asp-for="Attachmentfile" accept=".png,.jpg,.jpeg,.gif,.jfif" /><br />
            <span class="text-danger" asp-validation-for="Attachmentfile"></span><br />

            <label class="cl1">Customer Id</label><br />
            <input class="col-sm-9" asp-for="Id" placeholder="Enter Customer id" readonly /><br />
            <span class="text-danger" asp-validation-for="Id"></span><br />

            <label class="cl2">Customer Mail</label><br />
            <input class="col-sm-9" type="text" asp-for="User_Email" placeholder="Enter Customer Mail" /><br />
            <span class="text-danger" asp-validation-for="User_Email"></span><br />

            <label class="cl3"><strike>Customer Password</strike></label><br />
            <input class="col-sm-9" type="text" asp-for="User_Password" placeholder="Enter Password" readonly hidden /> <br />
            <span class="text-danger" asp-validation-for="User_Password"></span><br />

            <input class="col-sm-9 btn btn-outline-warning" type="submit" value="Save" />

        </form>
    </div>
</div>
