<div id="AdminPanelH" class="container mt-3">
    <h1>Cars Inventory</h1>
    <p>The You Can Renntails Car and also Cancle Rental</p>
    <hr />
</div>

<table>
    <tr>
        <td>
            <img class="panelimg" src="~/AdminPanelCars/Audi R8.png" /><br />
        </td>
        <td>
            <img class="panelimg" src="~/AdminPanelCars/Bmw X6.png" /><br />
        </td>
        <td>
            <img class="panelimg" src="~/AdminPanelCars/Jaguar.png" /><br />
        </td>
        <td>
            <img class="panelimg" src="~/AdminPanelCars/Lamborghini.png" /><br />
        </td>
    </tr>
    <tr>
        <td>Audi R8</td>
        <td>Bmw X6</td>
        <td>Jaguar</td>
        <td>Lamborghini</td>
    </tr>
    <tr>
        <td>
            <img class="panelimg1" src="~/AdminPanelCars/Mahindra Thar.png" /><br />
        </td>
        <td>
            <img class="panelimg1" src="~/AdminPanelCars/Mercedes Benz C Class.png" /><br />
        </td>
        <td>
            <img class="panelimg1" src="~/AdminPanelCars/Mustang Gt.png" /><br />
        </td>
        <td>
            <img class="panelimg1" src="~/AdminPanelCars/Scorpio.png" /><br />
        </td>
    </tr>
    <tr>
        <td>Mahindra Thar</td>
        <td>Mercedes Benz C Class</td>
        <td>Mustang Gt</td>
        <td>Scorpio</td>
    </tr>

</table>