<h1>Track Live Location Of Your Cars</h1>
<hr />
<div class="column">
    <div class="col-md-6">
        <div class="map_main">
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3562.023087626722!2d75.87491107541317!3d26.77553397672925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396dc892b8f05399%3A0x43fbca7105eca800!2sJECRC%20University!5e0!3m2!1sen!2sin!4v1702834669197!5m2!1sen!2sin"
                        width="500000" height="500" frameborder="0" style="border:2px solid black ;width: 400%;" allowfullscreen="allowfullscreen" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>
    </div>
</div>